body {
  background: rgb(255, 56, 56);
  background-image: url('data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%2317191a' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E')
}
.Main {
  display: grid;
  place-items: center;
}
textarea {
  background: #0f3460;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  border-radius: 2vw;
  width: 70vw;
  height: 20vh;
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
}
::placeholder {
  color: white;
}
h1 {
  padding: 2vw;
  text-align: center;
  color: white;
  text-shadow: 5px 2px 5px grey;
  background: #fa7d09;
  border-radius: 1vw;
  box-shadow: rgb(0 0 0 / 40%) 5px 5px;
}
#btn-1 {
  color: white;
  background: #443737;
  border-radius: 1vw;
  box-shadow: rgb(0 0 0 / 40%) 5px 5px;
}
#btn-2 {
  color: white;
  background: #443737;
  border-radius: 1vw;
  box-shadow: rgb(0 0 0 / 40%) 5px 5px;
}

#copy {
  color: white;
  background: #443737;
  border-radius: 1vw;
  box-shadow: rgb(0 0 0 / 40%) 5px 5px;
  width: 13rem;
}
p {
  text-align: center;
  background: #202040c5;
  color: white;
  padding: 2vw;
}
h2 {
  padding: 2vw;
  text-align: center;
  color: white;
  text-shadow: 5px 2px 5px grey;
  background: #a7d129;
  box-shadow: rgb(0 0 0 / 40%) 5px 5px;
  font-size: 1.4rem;
  margin-bottom: 0;
}
.announcement-top-bar {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
}

/* 💀*/
